apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  labels:
    app.kubernetes.io/name: "todo-app"
    app.kubernetes.io/version: "1.8"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
        version: "1.8"
    spec:
      containers:
      - image: ghcr.io/timokramer/todo-app:1.8
        imagePullPolicy: Always
        name: todo-app
