apiVersion: v1
kind: Service
metadata:
  name: todo-app
  labels:
    app.kubernetes.io/name: "todo-app"
    app.kubernetes.io/version: "1.2"
spec:
  type: ClusterIP
  selector:
    app: todo-app
  ports:
    - port: 80
      targetPort: 8090
      protocol: TCP
